body {
    text-align: center;
}

.hide {
    display: none;
}

#title-section {
    margin: 5% auto 2.5%;
}

#user-action {
    margin: 2.5% auto;
}

.profile-column {
    margin-top: 10%;
    margin-bottom: 10%;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.comp-name {
    border-bottom: .25rem solid #5AF;
}

.sg-button {
    display: block;
    margin: .5rem auto;
}

.neutral-score {
    color: black;
    background-color: #f0c929;
}

.positive-score {
    color: whitesmoke;
    background-color: green;
}

.negative-score {
    color: whitesmoke;
    background-color: red;
}

.ci-button {
    margin-left: .25rem;
    background-color: white;
    font-size: small;
    color: black;
}

.new-ci-button {
    margin: .5rem auto;
    display: block;
}

.profile-list {
    height: 20rem;
}

.radio-btn {
    margin-left: .1rem;
}